@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap');
body, h1{
  padding: 0;
  margin: 0;
  background:#F5F7FB;

}
.quiz-start{
  width:100%;
  height: 100vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  font-family: 'sono',sans-serif;
  background:#F5F7FB;
}
.quiz-start>h1{
  font-size:2.5rem;
  margin-bottom:30px;
}
.quiz-start>button{
  width:136px;
  height:60px;
  cursor:pointer;
  border:none;
  outline:none;
  background-color: #4D5B9E;
  color:white;
  font-family:'sono', sans-serif;
  font-size:1.5rem;
  border-radius:6px;
}

.questions{
  background:#F5F7FB;
  height:100vh;
  display:flex;
  flex-direction:column;
  /* align-items:center; */
  font-family:'sono', sans-serif;
  margin-bottom:30px;
  margin:0 7rem;
}
.questionsStack{
  height:60vh;
  /* margin-top:4rem; */

}
.options>button{
  padding:0px 10px;
  min-width:75px;
  height:30px;
  border-radius:9px;
  margin:10px 8px 8px 8px;
  border:solid 2px #4D5B9E;
  background:#F5F7FB;
  cursor:pointer;
  color:#293264;
  font-weight:bold;
  /* font-family:'Inter'; */
  outline:0;
}
.options>button:hover{
  background-color:#acb8f0;
  border:none;
}
.check{
  width:100%;
  display:flex;
  justify-content: center;
}
.check-answers{
  width:150px;
  height:50px;
  background-color: #4D5B9E;
  color:white;
  border:none;
  margin:20px;
  font-size: 1.1rem;
  border-radius:12px;
  cursor:pointer;
}