@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap');
body, h1{
  padding: 0;
  margin: 0;
  background:#F5F7FB;

}
.quiz-start{
  width:100%;
  height: 100vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  font-family: 'sono',sans-serif;
  background:#F5F7FB;
}
.quiz-start>h1{
  font-size:2.5rem;
  margin-bottom:30px;
}
.quiz-start>button{
  width:136px;
  height:60px;
  cursor:pointer;
  border:none;
  outline:none;
  background-color: #4D5B9E;
  color:white;
  font-family:'sono', sans-serif;
  font-size:1.5rem;
  border-radius:6px;
}

.questionsStack:nth-child(1){
  margin-top: 50px;
}
.questions{
  background:#F5F7FB;
  height:100vh;
  display:flex;
  flex-direction:column;
  /* align-items:center; */
  font-family:'sono', sans-serif;
  margin-bottom:30px;
  margin:0 7rem;
}
.questionsStack{
  height:60vh;
  /* margin-top:4rem; */

}

.options{
  display:flex;
}
.options>input{
  margin-left:40px;
  cursor:pointer;

}
.options>form>input:nth-child(1){
  margin:0;
}
.label{
  color:#293264;
  height:30px;
  padding:0 10px;
  cursor:pointer;
  font-weight:bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border:solid 2px #4D5B9E;
  border-radius:9px;
  min-width:99px;
}
label{
  margin-left: 40px;
}

input {
 display: none;
}
input:checked + label {
  background: #D6DBF5;
  border-radius: 9px;
}

.options:nth-child(1){
  margin:0;
}

.check{
  width:100%;
  display:flex;
  justify-content: center;
}
.check-answers{
  width:150px;
  height:50px;
  background-color: #4D5B9E;
  color:white;
  border:none;
  margin:20px;
  font-size: 1.1rem;
  border-radius:12px;
  cursor:pointer;
}